

:root {
    --bs-blue: #3a0ca3; /* La variable se cambia por el color que esta como valor */
    --bs-green: #8CBC00;
    --bs-warning: #343a40;

    --gradient: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
}

* {
    -webkit-box-sizing:border-box;
            box-sizing: border-box;
    line-height: 1.25rem;
}

.clear {
    clear: both;
}

html{
    font-size: 62.5%; /* Convierte 1rem en 10px */
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    text-align: justify;   
}

.container-weather {
    border-radius: 25px;
    color: #ffff;
    height: 300px;
}


.weather-side{
    position: relative;
    height: 200px;
    border-radius: 25px;
    background-image: url("../img/nubes.jpg");
}

.weather-side h2{
    font-size: 3rem;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}


h1,h2,h3{
    font-family: 'Playfair Display', serif;;
}

h1 {
    font-size: 3.8rem;
}

.footer{
    background-color: #3a0ca3;
}

/* ############################################# */
/* Reescribir colores de boostrap */
.text-primary, .nombre-sitio{
    color: var(--bs-blue)!important;
}

.btn-success{
    background-color: var(--bs-green)!important;
}

.bg-primary, .btn-primary{
    background-color: var(--bs-blue)!important;
}

.bg-warning{
    background-color: var(--bs-warning)!important;
}

.logo{
	height: 4.5rem;
    position: absolute;
    top: 0.7%;
    right: 3%;
}



.info-box {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #7c7b7b;
}

.info-tittle{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-body{
    font-size: 40px;
    font-weight: bold;
}



 /* Estilo para la tabla */
 table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #c31616;
}

th, td {
    text-align: center;
}

.contacto-p{
    text-align: justify;
}


/* Estilo para la línea de la gráfica */
.line {
    fill: none;
    stroke: #007bff; /* Color de la línea */
    stroke-width: 2; /* Ancho de la línea */
  }
  
  /* Estilo para el eje X */
  .x-axis path,
  .x-axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ccc; /* Color de las líneas del eje X */
  }
  
  .x-axis text {
    font-size: 12px; /* Tamaño de fuente para las etiquetas del eje X */
    fill: #333; /* Color del texto del eje X */
  }
  
  /* Estilo para el eje Y */
  .y-axis path,
  .y-axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #ccc; /* Color de las líneas del eje Y */
  }
  
  .y-axis text {
    font-size: 12px; /* Tamaño de fuente para las etiquetas del eje Y */
    fill: #333; /* Color del texto del eje Y */
  }
  
  /* Estilo para el contenedor SVG */
  #line-chart {
    background-color: #f9f9f9; /* Color de fondo del gráfico */
    border: 1px solid #ddd; /* Borde del gráfico */
  }

/* Se ocultan los elementos del display esperando a mostrarse con el JS de alternación */
  #graficas, #tablas, #seleccionEstacion, #VerUsuarios, #VerEstaciones, #VerRegistros{
    display: none;
  }

  header {
    display: flex;
    backdrop-filter: blur(5px);
    text-align: center;
    font-size: 2rem;
    color: white;

    position: sticky;
    top: 0px;

    z-index: 5;
    
  }

  form .username{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 10px 0;
  }

  .username input, .username select{
    width: 100%;
    padding: 0 5px;
    margin-top: 10px;
    height: 40px;
    font-size: 26px;
    border: none;
    background: none;
    outline: none;
  }

  .username label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(50%);
    font-size: 26px;
    pointer-events: none;
  }

  .username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #6C3483;
  }

  .username input:focus ~ label,
  .username input:valid ~ label{
    top: -10px;
    color: #6c3483;
  }

  .username input:focus ~ span::before,
  .username input:focus ~ span::before{
    width: 100%;
  }

  input[type="submit"]{
    width: 50%;
    height: 50px;
    border-radius: 25px;
    font-size: 48px;
    color: white;
    cursor: pointer;
  }

  

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  *{
      margin: 0;
      padding: 0;
      font-family: 'poppins',sans-serif;
  }
  section{
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      width: 100%;
      
      background-color: #272727;
  }
  .form-box{
      position: relative;
      width: 400px;
      height: 450px;
      background: #e8e8e8;
      border: 2px solid rgba(4, 4, 4, 0.5);
      border-radius: 20px;
      backdrop-filter: blur(15px);
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #login h2{
      font-size: 3rem;
      color: #000000;
      text-align: center;
  }
  .inputbox{
      position: relative;
      margin: 30px 0;
      width: 310px;
      border-bottom: 2px solid #000000;
  }
  .inputbox label{
      position: absolute;
      top: 50%;
      left: 5px;
      transform: translateY(-50%);
      color: #000000;
      font-size: 2rem;
      pointer-events: none;
      transition: .5s;
  }
  input:focus ~ label,
  input:valid ~ label{
  top: -5px;
  }
  /* Las entradas del login */
  .inputbox input { 
      width: 100%;
      height: 50px;
      background: transparent;
      border: none;
      outline: none;
      font-size: 2rem;
      padding:0 35px 0 5px;
      color: #000000;
  }
  /*  */
#header-login {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  text-align: center;
  font-size: 2rem;
  color: white;

  position: sticky;
  top: 0px;

  z-index: 5;
  
}

#menu li{
  padding-bottom: 1rem;
}


#contenidosidebar{
min-height: 70rem;
}

#editarUsuario form{
  width: 50%;
}